<% include header %>

  <h1><%- title %></h1>
  <% for(var i=0;i<data.length;i++){ %>
    <h3><%- data[i].name %></h3>
    <div><%- data[i].info%></div>
    <pre><%- data[i].data%></pre>
  <% } %>

<% include footer %>