<% include header %>
</head>
<body>
	<% include loader %>
  <script type="text/javascript">console.log("LLEGA");</script>
  <h1><%- title %></h1>
  <pre>
    <% for(var i=0;i<data.length;i++){ %>
      <%- data[i]%>
    <% } %>
  </pre>

<% include footer %>
<% include scripts %>
</body>
</html>