<% include header %>
</head>
<body>
	<% include navbar %>
	<% include loader %>
	<main role="main" class="container">
  <h1><%-title %></h1>
  <% for(var i=0;i<files.length;i++){ %>
  	<h3><%=files[i]%></h3>
  	<p><%=data[i]%></p>
  	
  <%}%>
  </main>
<% include footer %>
<% include scripts %>
</body>
</html>