<footer class="footer mt-auto py-3 text-center">
	<div class="container">
		<div class="text-muted text-center">FIESTA IoT - Prosumer</div>
	</div>
	<small class="text-muted mb-2" style="font-weight: 900;">
		<i class="fa fa-code" style="font-weight: 900;"></i> with <i class="fa fa-heart"></i> by <strong>VÍCTOR QUILÓN RANERA</strong>
	</small>

	<div class="container-fluid justify-content-center">
		<a class="social mx-1" href="mailto:v.quilonr@gmail.com" style="color: rgb(108, 117, 125);" onmouseover="this.style.color='#db4437'" onmouseout="this.style.color='#6c757d'">
			<i class="fa fa-envelope fa-1x"></i>
		</a><a class="social mx-1" href="https://www.facebook.com/victor.quilonranera" style="color: rgb(108, 117, 125);" onmouseover="this.style.color='#3b5998'" onmouseout="this.style.color='#6c757d'">
			<i class="fa fa-facebook fa-1x"></i>
		</a><a class="social mx-1" href="https://www.github.com/vquilon" style="color: rgb(108, 117, 125);" onmouseover="this.style.color='#333333'" onmouseout="this.style.color='#6c757d'">
			<i class="fa fa-github fa-1x"></i>
		</a><a class="social mx-1" href="https://www.linkedin.com/in/vquilonr-291194" style="color: rgb(108, 117, 125);" onmouseover="this.style.color='#007bb5'" onmouseout="this.style.color='#6c757d'">
			<i class="fa fa-linkedin fa-1x"></i>
		</a><a class="social mx-1" href="https://www.twitter.com/vquilon" style="color: rgb(108, 117, 125);" onmouseover="this.style.color='#1da1f2'" onmouseout="this.style.color='#6c757d'">
			<i class="fa fa-twitter fa-1x"></i>
		</a>

	</div>

</footer>