<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="viewport" content="initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Prosumer Web</title>
  <link rel="icon" href="http://moodle.fiesta-iot.eu/pluginfile.php/1/theme_more/smalllogo/1495813859/FIESTA-IoT-Logo-Small.jpg">
  <link rel="stylesheet" href="/stylesheets/style.css">

  <!-- Bootstrap Core CSS -->
  <link href="/dist/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom Fonts -->
  <link href="/dist/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!--CSS Loader-->
  <link rel='stylesheet' href='/dist/loader/css/styles.css'>
  <link rel='stylesheet' href='/dist/mdb/css/mdb.min.css'>
  <!-- jQuery -->
  <script src="/dist/jquery/jquery-3.2.0.min.js"></script>
  <!--PARA LOADER INICIAL-->
  <script src="/dist/loader/js/loader.js"></script>

