<script type="text/javascript">
	var url = window.location.pathname;
	$("a[href='"+url+"']").append("<span class='sr-only'>(current)</span>");
	$("a[href='"+url+"']").parent().addClass("active");
</script>
<script src="/dist/popper/popper.min.js"></script>
<script src="/dist/tether/js/tether.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/dist/bootstrap/js/bootstrap.min.js"></script>
<script src="/dist/mdb/js/mdb.min.js"></script>
