<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="http://moodle.fiesta-iot.eu/pluginfile.php/1/theme_more/smalllogo/1495813859/FIESTA-IoT-Logo-Small.jpg">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>